<footer>
	<section class="section">
		<div class="section-overlay-5"></div>
		 <div class="container">
		 	<div class="row justify-content-between">
		 		<div class="col-8 col-sm-8 col-md-8 col-lg-9 col-xl-11">
					<span class="bg-transparent text-uppercase"><a href="#" class="section-description-2 border-right border-secondary">home</a></span>
					<span class="bg-transparent text-uppercase"><a href="#" class="section-description-2 border-right border-secondary">services</a></span>
					<span class="bg-transparent text-uppercase"><a href="#" class="section-description-2 border-right border-secondary">portfolio</a></span>
					<span class="bg-transparent text-uppercase"><a href="#" class="section-description-2 ">contact</a></span>
		 		</div>
		 		<div class="col-3 col-sm-3 col-md-3 col-lg-2 col-xl-1 p-0text-right">
		 			<span class="section-description-3">2013 &copy; </span>
		 		</div>
		 	</div>
		 </div>
	</section>
</footer>